/src/
/test/
/.nyc_output/
/.github/

.babelrc
.commitlintrc.js
.editorconfig
.eslintcache
.eslintignore
.eslintrc.yml
.gitattributes
.huskyrc.json
.markdownlintrc
.nvmrc
.nycrc
.travis.yml
rollup.config.js
